<div class=" footer  row bg-ligt " style="padding: 80px;">
    <div class="col-md-4">
        <div class="card  text-secondary container" style="width: 18rem; border: none;">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">LOCATION</h5>
              <h6 class="card-subtitle mt-1 mb-3 " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">2215 John Daniel Drivee</h6>
              <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Clark, MO 65243</p>
             
            </div>
          </div>
         </div>
         <div class="col-md-4">
            <div class="card text-secondary  container" style="width: 18rem; border: none;">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">AROUND THE WEB</h5>
                  <div>
                    <i class="fab fa-facebook m-2 rounded fs-3" ></i>
                    <i class="fab fa-twitter m-2 rounded fs-3"></i>
                    <i class="fab fa-linkedin-in m-2 rounded fs-3"></i>
                    <i class="fas fa-globe m-2 rounded fs-3"></i>
                  </div>
                 
                </div>
              </div>
             </div>
             <div class="col-md-4">
                <div class="card text-secondary container" style="width: 18rem; border: none;">
                    <div class="card-body">
                      <h5 class="card-title" style="font-size: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">ABOUT FREELANCER</h5>
                     <h6 class="card-subtitle mt-1 mb-3 " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 15px;">Freelance is a free to use, licensed Bootstrap  </h6>
                      <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">created by Route </p>
                     
                    </div>
                  </div>
                 </div>
</div>

<h5 class=" text-light text-center p-3" style="background-color:rgb(104, 103, 103);">Copyright © Your Website 2021</h5>
