<div class="forgotPass my-5">
    <form [formGroup]="forgetForm" class="w-75 mx-auto" (ngSubmit)="forgotPassword(forgetForm)">
        <p class="bg-main fw-bold text-light  p-3"  *ngIf="successMessage.length>0">{{successMessage}}</p>
        <p class="bg-danger fw-bold text-light p-3" *ngIf="errorMessage.length>0">{{errorMessage}}</p>
<label  for="email">Email:</label>
<input  formControlName="email" type="email" id="email" class="form-control">
<button class="btn bg-main float-end m-4 text-light">Send code</button>
    </form>
</div>

<div class="verifycode my-5 d-none">
    <form [formGroup]="verifyForm" class="w-75 mx-auto " (ngSubmit)="verifycode(verifyForm)">
        <p class="bg-main fw-bold text-light  p-3"  *ngIf="successMessage.length>0">{{successMessage}}</p>
        <p class="bg-danger fw-bold text-light p-3" *ngIf="errorMessage.length>0">{{errorMessage}}</p>
<label   for="resetCode">resetCode:</label>
<input formControlName="resetCode" type="email" id="resetCode" class="form-control">
<button class="btn bg-main float-end m-4 text-light">Send code</button>
    </form>
</div>
